.app {
  margin-top: 60px;
  margin-left: 120px;
  margin-right: 120px;
}

.board {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.empty,
.active,
.next {
  width: 38px;
  height: 38px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border: 1px solid green !important;
}

.next {
  border: 1px solid magenta !important;
}

.box {
  border: 1px solid transperant;
  height: 40px;
  width: 40px;
  background-color: white;
}

.clicked {
  animation: myAnim 0.4s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0%,
  100% {
    opacity: 1;
    background: white;
  }

  25% {
    opacity: 25%;
    background: green;
  }

  50% {
    opacity: 50%;
    background: green;
  }

  75% {
    opacity: 0;
    background: green;
  }
}
